<div *ngIf="post">
  <div class="card  center-data" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{post.content.header}}</h5>
      <p class="card-text">{{post.content.text}}</p>
      <p>{{post.authorId}}</p>
      <footer class="blockquote-footer">{{post.datePublic | date: 'fullDate'}}</footer>
    </div>
  </div>
</div>
