<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div *ngFor="let post of (posts$ | async)" class="posts">
        <app-post [post]="post"></app-post>
      </div>
    </div>
  </div>
</div>
