<div *ngIf="user" class="detailsUser">
  <div class="row">
    <div class="col-sm-12">
      <div class="center-data user-data">
        <h4>login: {{user.login}} </h4>
        <span>name: </span>{{user.name}}
      </div>
    </div>

    <div class="col-sm-12">
      <!--      <form>-->
      <div class="center-data edit-data">
        <div class="form-group">
          <label class="col-sm-4">login:</label>
          <input class="col-sm-8" [(ngModel)]="user.login" placeholder="login"/>
        </div>
        <div class="form-group">
          <label class="col-sm-4">name:</label>
          <input class="col-sm-8" [(ngModel)]="user.name" placeholder="name"/>
        </div>
        <button type="submit" class="btn btn-primary mb-2">Submit</button>
      </div>
      <!--      </form>-->
    </div>
  </div>
</div>
