<div class="row">
  <div class="col-sm-12">
    <div class="alert alert-success center-data message-box" role="alert">
      <div *ngIf="messageService.messages.length">
        <h4>Messages</h4>
        <div *ngFor='let message of messageService.messages'> {{message}} </div>
        <button class="clear" (click)="messageService.clear()">clear
        </button>
      </div>
    </div>
  </div>
</div>
