h4 {
  text-align: center;
  font-weight: bold;
}

.users {
  margin: 0 auto;
  list-style-type: none;
  padding: 0;
  width: 300px;
}

.users li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  height: 2.5em;
  border-radius: 4px;
  padding-bottom: 0;
}

.users li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}

.users li.selected {
  background-color: #CFD8DC;
  color: white;
}

.users li.selected:hover {
  background-color: #BBD8DC;
  color: white;
}

.users .currentUser {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 1em 1em 0 1em;
  background-color: #405061;
  line-height: 1em;
  position: relative;
  height: 3.1em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

.detailsUser {
  margin-top: 3em;
}
