<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h4> Users</h4>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-sm-12">
      <ul class="users">
        <li *ngFor="let user of users" [class.selected]="user === selectedUser" (click)="onSelect(user)">
          <span class="currentUser">{{user.userId}}</span> {{user.login}}
        </li>
      </ul>
    </div>
  </div>

  <app-user-detail [user]="selectedUser"></app-user-detail>

</div>



<!--      <form method="post" action="#" autocomplete="off">-->
<!--        <div class="form-group">-->
<!--          <label for="userName">Name</label>-->
<!--          <input [(ngModel)]="personData.name" placeholder="name" id="userName" class="form-control" />-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <label for="password">Password</label>-->
<!--          <input name="password" type="password" class="form-control" id="password" placeholder="Введите пароль">-->
<!--        </div>-->
<!--        <div class="form-group form-check">-->
<!--          <input type="checkbox" class="form-check-input" id="save">-->
<!--          <label name="save" class="form-check-label" for="save">запомнить меня</label>-->
<!--        </div>-->
<!--        <button type="submit" class="btn btn-primary">Войти</button>-->
<!--      </form>-->
